<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .nav-pills > button {
            padding-right: 15em;
        }

        .ff {
            padding-right: 40em;
            padding-left: 40em;
        }
    </style>
</head>
<body>
<header>
    <div class="container-fluid pb-3">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <p class="navbar-brand" th:text="${user.getEmail()}">email</p>
                <a class="navbar-brand float-right" href="@{/logout}">logout</a>
            </div>
        </nav>
    </div>
</header>
<section>
    <div class="container-fluid">
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-0" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <button sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                                aria-selected="true">Admin
                        </button>
                        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-profile" type="button" role="tab"
                                aria-controls="v-pills-profile" aria-selected="false">User
                        </button>
                    </div>

                    <div class="tab-content  container-fluid ps-20" id="v-pills-tabContent">
                        <!--Admin tab-->
                        <div sec:authorize="hasRole('ROLE_ADMIN')" class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                             aria-labelledby="v-pills-home-tab">
                            <h2><strong>Admin panel</strong></h2>
                            <div class="tab-content" id="myTabContent">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                                data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                                aria-selected="true">Users table
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                data-bs-target="#profile" type="button" role="tab"
                                                aria-controls="profile" aria-selected="false">New User
                                        </button>
                                    </li>
                                </ul>
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            All users
                                        </div>
                                        <div class="card-body p-3">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Username</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                    <th>
                                                </thead>
                                                <tbody>
                                                <tr th:each="user :${users}">
                                                    <td th:text="${user.id}"></td>
                                                    <td th:text="${user.username}"></td>
                                                    <td th:text="${user.email}"></td>
                                                    <td th:text="${user.roles}"></td>
                                                    <td><a th:href="@{/admin/getOne/(id=${user.getId()})}" class="btn btn-primary" >
                                                        Edit
                                                    </a>
                                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                                <form method="PUT" th:action="@{/admin/update}">
                                                                                    <div class=" mb-3">
                                                                                        <label for="idEdit" class="form-label">Enter
                                                                                            ID: </label>
                                                                                        <input type="text" class="form-control text-center"
                                                                                               id="idEdit">
                                                                                    </div>
                                                                                    <div class=" mb-3">
                                                                                        <label for="nameEdit" class="form-label">Enter username: </label>
                                                                                        <input type="text"

                                                                                               class="form-control text-center col-lg-4 col-lg-offset-4"
                                                                                               id="nameEdit">
                                                                                    </div>
                                                                                    <div class=" mb-3">
                                                                                        <label for="emailEdit" class="form-label">Enter email: </label>
                                                                                        <input type="text"  class="form-control text-center"
                                                                                               id="emailEdit">
                                                                                    </div>
                                                                                    <div class=" mb-3">
                                                                                        <label for="passwordEdit" class="form-label">Enter
                                                                                            password: </label>
                                                                                        <input type="text"  class="form-control text-center"
                                                                                               id="passwordEdit">
                                                                                    </div>
                                                                                    <div class=" mb-3">
                                                                                        <label class="form-label">Choose Role
                                                                                            : </label>
                                                                                        <div>
                                                                                            <th:block th:each="role : ${listRoles}">
                                                                                                <input type="checkbox"
                                                                                                       th:value="${role.id}"
                                                                                                       th:text="${role.username}">
                                                                                            </th:block>
                                                                                        </div>
                                                                                    </div>
                                                                                    <input class="btn btn-primary" type="submit" value="Edit"/>
                                                                                </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div></td>
                                                    <td><a th:href="@{/admin/{id}/delete (id=${user.getId()})}" class="btn btn-danger eBtn">Delete</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="profile" role="tabpanel"
                                     aria-labelledby="profile-tab">

                                    <div class="card">
                                        <div class="card-header">
                                            Add new user
                                        </div>
                                        <div class="card-body p-3 text-center">
                                            <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
                                                <div class="ff mb-3">
                                                    <label for="name" class="form-label">Enter username: </label>
                                                    <input type="text"
                                                           th:field="*{username}"
                                                           class="form-control text-center col-lg-4 col-lg-offset-4"
                                                            id="name">
                                                </div>
                                                <div class="ff mb-3">
                                                    <label for="email" class="form-label">Enter email: </label>
                                                    <input type="text" th:field="*{email}" class="form-control text-center"
                                                            id="email">
                                                </div>
                                                <div class="ff mb-3">
                                                    <label for="password" class="form-label">Enter
                                                        password: </label>
                                                    <input type="text" th:field="*{password}" class="form-control text-center"
                                                            id="password">
                                                </div>
                                                <div class="ff mb-3">
                                                    <label class="form-label">Choose Role
                                                        : </label>
                                                    <div>
                                                        <th:block th:each="role : ${listRoles}">
                                                            <input type="checkbox" th:field="*{roles}"
                                                            th:value="${role.id}"
                                                            th:text="${role.username}">
                                                        </th:block>
                                                    </div>
                                                </div>
                                                <input class="btn btn-success" type="submit" value="Add new user"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--User tab-->
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                             aria-labelledby="v-pills-profile-tab">
                            <!--                            User Info page-->
                            <h2><strong>User information-page</strong></h2>
                            <div class="card">
                                <div class="card-header">
                                    All users
                                </div>
                                <div class="card-body p-3">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Role</th>

                                        </thead>
                                        <tbody>
                                        <tr th:each="user :${user}">
                                            <td th:text="${user.id}"></td>
                                            <td th:text="${user.username}"></td>
                                            <td th:text="${user.email}"></td>
                                            <td th:text="${user.roles}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

</section>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Optional JavaScript-->
<script type="text/javascript" th:src="@{/main.js}" src="../static/main.js"></script>
</body>
</html>